@import '../variables.scss';

.about {
    background-color: $light-xl;
    padding: 80px 40px 100px 40px;
    box-sizing: border-box;

    &-wrapper {
        display: flex;
        justify-content: center;
    }

    &-img {
        width: 300px;
    }

    &-text-wrapper {
        // width: 430px;
        margin-left: 120px;
    }

    &-title {
        font-family: $georgia;
        color: $dark-l;
        font-size: 35px;
        line-height: 45px;
        font-weight: 400;
        margin: 0;
        margin-top: 13px;
        letter-spacing: 2.5px;
        width: 363px;
    }

    &-text {
        color: $dark-xl;
        font-family: $arial;
        line-height: 24px;
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        margin-top: 25px;
        width: 430px;
    }
}

@media screen and (max-width: 320px) {
    .about {

        padding: 42px 10px;

        &-wrapper {
            flex-direction: column;
        }

        &-title {
            font-size: 25px;
            line-height: 32px;
        }

        &-img {
            order: 1;
            margin-top: 42px;
        }

        &-text {
            text-align: center;
            margin-top: 22px;
        }

        &-text-wrapper {
            margin: 0;
            width: 100%;
        }
    }
}