@import '../variables.scss';
@import '../mixins.scss';

.about {
    background-color: $light-xl;
    padding: 80px 40px 100px 40px;
    box-sizing: border-box;

    @include tablet {
        padding: 80px 165px 100px 165px;
    }

    @include mobile {
        padding: 42px 10px;
    }

    &-wrapper {
        display: flex;
        justify-content: center;

        @include tablet {
            flex-direction: column;
            align-items: center;
        }
    }

    &-img {
        width: 300px;

        @include tablet {
            order: 1;
            margin-top: 80px;
            margin-left: 3px;
        }

        @include mobile {
            margin: 0;
            margin-top: 38px;
            margin-left: 2px;
            width: 260px;
        }
    }

    &-text-wrapper {
        margin-left: 120px;

        @include tablet {
            margin: 0;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            width: 100%;
        }
    }

    &-title {
        font-family: $georgia;
        color: $dark-l;
        font-size: 35px;
        line-height: 45px;
        font-weight: 400;
        margin: 0;
        margin-top: 13px;
        letter-spacing: 2.5px;
        width: 363px;

        @include tablet {
            margin: 0;
            margin-left: 3px;
        }

        @include mobile {
            font-size: 25px;
            line-height: 32px;
            width: 250px;
            text-align: center;
            margin: 0;
            letter-spacing: 1.5px;
        }
    }

    &-text {
        color: $dark-xl;
        font-family: $arial;
        line-height: 24px;
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        margin-top: 26px;
        width: 430px;

        @include tablet {
            margin-left: 3px;
        }

        @include mobile {
            width: 264px;
            text-align: justify;
            margin-top: 23px;
        }
    }
}