@import '../variables.scss';

.cards {
    display: flex;
    justify-content: center;
    background-color: $light-l;
    padding: 80px 40px 100px 40px;
    box-sizing: border-box;

    &-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1280px;
    }

    &-title {
        margin: 0 auto;
        width: 400px;
        font-family: $georgia;
        font-weight: 400;
        line-height: 45px;
        font-size: 35px;
        letter-spacing: 2px;
        color: $dark-l;
        text-align: center;
    }

    &-container {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    &-button-left {
        position: absolute;
        left: 0;
        bottom: 44%;
        background-color: transparent;
        border-radius: 50%;
        border: solid 2px $primary;
        height: 52px;
        width: 52px;
        cursor: pointer;
        transition: background-color .3s linear;

        &:hover {
            background-color: $primary-light;
            border: none;
            transition: background-color .3s linear;
        }
    }

    &-button-right {
        position: absolute;
        right: 0;
        bottom: 44%;
        background-color: transparent;
        border-radius: 50%;
        height: 52px;
        width: 52px;
        border: solid 2px $primary;
        cursor: pointer;
        transition: background-color .3s linear;

        &:hover {
            background-color: $primary-light;
            border: none;
            transition: background-color .3s linear;
        }
    }

    &-button {
        width: 260px;
        background-color: $primary;
        border-radius: 100px;
        border: none;
        padding: 15px 45px;
        margin-top: 60px;
        cursor: pointer;
        transition: box-shadow .3s linear;
        transition: background-color 0.3s linear;

        &:hover {
            background-color: $primary-light;
            transition: background-color 0.3s linear;
        }

        &-link {
            font-family: $georgia;
            color: $dark-3xl;
            font-size: 17px;
            line-height: 16px;
            text-decoration: none;
            letter-spacing: 0.9px;
        }
    }
}

.container {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: $light-s;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s linear;

    &:hover {
        background-color: $light-xl;
        transition: background-color 0.5s linear;
    }

    &:hover .card-button {
        background-color: $primary-light;
        border: transparent;
        transition: all 0.5s linear;
    }

    &-img {
        width: 270px;
    }

    &-title {
        margin: 0;
        margin-top: 25px;
        text-align: center;
        color: $dark-l;
        font-family: $georgia;
        font-weight: 400;
        line-height: 28px;
        font-size: 20px;
        letter-spacing: 1.2px;
    }

    &-button {
        font-family: $georgia;
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        color: $dark-3xl;
        background-color: transparent;
        border-radius: 100px;
        border: 2px solid $primary;
        padding: 15px 40px;
        letter-spacing: 1.2px;
        margin: 30px 0;
        cursor: pointer;
        transition: border .3s linear;
    }
}


@media screen and (max-width: 768px) {

    .cards {

        padding: 80px 30px 100px 30px;

        // &-wrapper {
        //     width: 768px;
        // }

        &-container {
            justify-content: flex-start;
            width: 580px;
            overflow: hidden;

        }
    }

    .card {

        &:not(:first-child) {
            margin-left: 40px;
        }
    }
}






@media screen and (max-width: 320px) {
    .cards {

        padding: 42px 10px;

        &-title {
            font-size: 25px;
            line-height: 33px;
        }

        &-container {
            width: 300px;
            // overflow: hidden;
            margin-top: 42px;
        }

        &-button {
            &-left {
                left: 15%;
                bottom: 12%;
            }

            &-right {
                right: 15%;
                bottom: 12%;
            }
        }
    }

    .card {
        &-button {
            margin: 0;
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }
}