@import '../variables.scss';
@import '../mixins.scss';

.donation {
    display: flex;
    justify-content: center;
    padding: 85px 182px 101px 182px;
    background-color: #F6F6F6;

    @include tablet {
        padding: 80px 130px 100px 130px;
    }

    @include mobile {
        padding: 42px 20px;
    }

    &-wrapper {
        display: flex;
        justify-content: center;
        max-width: 1280px;
        width: 100%;

        @include tablet {
            flex-direction: column;
        }
    }

    &-img {
        width: 506px;

        @include tablet {
            order: 1;
            margin-top: 60px;
        }

        @include mobile {
            width: 260px;
            margin-top: 42px;
            margin-left: 20px;
        }
    }

    &-info {
        margin-left: 30px;

        @include tablet {
            margin: 0;
            margin-left: 65px;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0;
        }

        &-title {
            font-family: $georgia;
            font-size: 35px;
            line-height: 46px;
            font-weight: 400;
            color: $dark-l;
            width: 300px;
            margin: 0;
            letter-spacing: 2.2px;

            @include mobile {
                font-size: 25px;
                line-height: 29px;
                letter-spacing: 1.4px;
            }
        }

        &-text {
            margin: 0;
            margin-top: 20px;
            font-family: $arial;
            font-style: italic;
            color: $dark-m;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;

            @include tablet {
                width: 350px;
            }

            @include mobile {
                width: 280px;
                text-align: justify;
            }
        }
    }

    &-card {
        display: flex;
        box-sizing: border-box;
        background-color: $primary;
        border-radius: 9px;
        padding: 10px 15px;
        width: 350px;
        margin-top: 20px;
        cursor: pointer;
        transition: background-color .3s linear;

        @include mobile {
            width: 280px;
            margin-top: 25px;
        }

        &:hover {
            background-color: $primary-light;
            transition: background-color .3s linear;
        }

        &-icon {
            width: 30px;
        }

        &-number {
            font-family: $georgia;
            color: $dark-l;
            font-size: 20px;
            line-height: 23px;
            font-weight: 400;
            margin: 0;
            margin-left: 15px;
            text-decoration: none;
            letter-spacing: 1.2px;

            @include mobile {
                font-size: 15px;
                letter-spacing: 0.053rem;
            }
        }

        &-description {
            margin: 0;
            font-family: $georgia;
            color: $dark-l;
            font-weight: 400;
            font-size: 15px;
            line-height: 17px;
            margin-top: 20px;
            letter-spacing: 0.9px;

            @include mobile {
                line-height: 21px;
                letter-spacing: 0rem;
            }
        }
    }
}