@import '../variables.scss';

.footer {
    display: flex;
    justify-content: center;
    padding: 56px 40px 0 40px;
    background-image: url('../../images/background.svg');
    background-size: cover;

    &-wrapper {
        display: flex;
        width: 1280px;
    }

    &-info {
       &:not(:first-child) {
        margin-left: 160px;
       }
    }

    &-content {
        display: flex;
    }

    &-title {
        margin: 0;
        color: $light-xl;
        font-size: 35px;
        line-height: 46px;
        font-weight: 400;
        font-family: $georgia;
    }

    &-link {
        display: flex;
        align-items: center;
        margin-top: 35px;
        text-decoration: none;

        &-text {
            margin-left: 20px;
            font-family: $georgia;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            color: $primary;
        }
    }

    &-img {
        margin-left: 160px;
    }
}

@media screen and (max-width: 768px) {

    .footer {
        flex-direction: column;

        &-img {
            width: 300px;
            margin-top: 65px;
        }
    }

}


@media screen and (max-width: 320px) {

    .footer {

        padding: 30px 10px 0px 10px;

        &-content {
            flex-direction: column;
        }

        &-contacts {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-adress {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
        }

        &-title {
            font-size: 25px;
            text-align: center;
        }

        &-link {
            margin-top: 40px;
        }

    }

}