@import '../variables.scss';


.footer {
    display: flex;
    justify-content: center;
    padding: 56px 40px 0 40px;
    background-image: url('../../images/background.svg');
    background-size: cover;
    height: 350px;
    box-sizing: border-box;

    &-wrapper {
        display: flex;
        position: relative;
        width: 1280px;
    }

    &-info {

        &:first-child .footer-link {
            margin-top: 42px;
        }

        &:not(:first-child) {
            margin-left: 160px;
            width: 302px;
        }
    }

    &-content {
        display: flex;
    }

    &-title {
        margin: 0;
        color: $light-xl;
        font-size: 35px;
        line-height: 45px;
        font-weight: 400;
        font-family: $georgia;
        letter-spacing: 0.14rem;
    }

    &-link {
        display: flex;
        align-items: center;
        margin-top: 35px;
        text-decoration: none;

        &-text {
            margin-left: 20px;
            font-family: $georgia;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            color: $primary;
            letter-spacing: 0.08rem;
        }
    }

    &-img {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

@media (min-width: 950px) and (max-width: 1279px) {
    .footer {

        padding: 30px 64px 0 64px;
        height: 640px;

        &-wrapper {
            justify-content: center;
            align-items: flex-start;
        }

        &-info {
            &:not(:first-child) {
                margin: 0;
                margin-left: 57px;
            }
        }


        &-img {
            width: 300px;
            margin-top: 65px;
            right: 40%;
            bottom: 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 949px) {

    .footer {

        padding: 30px 64px 0 64px;
        height: 640px;

        &-wrapper {
            justify-content: center;
            align-items: flex-start;
        }

        &-info {
            &:not(:first-child) {
                margin: 0;
                margin-left: 57px;
            }
        }


        &-img {
            width: 300px;
            margin-top: 65px;
            right: 26%;
            bottom: 0;
        }
    }
}