@import '../variables.scss';
@import '../mixins.scss';

.footer {
    display: flex;
    justify-content: center;
    padding: 56px 40px 0 40px;
    background-image: url('../../images/background.svg');
    background-size: cover;
    box-sizing: border-box;

    @include tablet {
        padding: 30px 64px 0;
    }

    @include mobile {
        padding: 30px 10px 0px;
    }

    &-wrapper {
        display: flex;
        max-width: 1280px;
        width: 100%;

        @include tablet {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        @include mobile {
            align-items: center;
            justify-content: flex-start;
        }
    }

    &-info-wrapper {

        display: flex;

        @include tablet {
            display: flex;
        }

        @include mobile {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &-info {

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &:first-child .footer-link {
            margin-top: 42px;

            @include mobile {
                margin-top: 42px;
            }
        }

        &:not(:first-child) {
            margin-left: 156px;
            width: 302px;

            @include tablet {
                margin: 0;
                margin-left: 57px;
            }

            @include mobile {
                margin: 0;
                margin-top: 42px;
            }
        }

        &:nth-child(1) {
            width: 282px;

            @include mobile {
                width: 278px;
            }
        }

        &:nth-child(2) {
            width: 302px;

            @include mobile {
                width: 300px;
            }
        }
    }

    &-content {
        display: flex;
    }

    &-title {
        margin: 0;
        color: $light-xl;
        font-size: 35px;
        line-height: 46px;
        font-weight: 400;
        font-family: $georgia;
        letter-spacing: 0.14rem;

        @include mobile {
            font-size: 25px;
            text-align: center;
            line-height: 32px;
            letter-spacing: 0.1rem;
        }

        &:first-child {
            width: 286px;
        }
    }

    &-link {
        display: flex;
        align-items: center;
        margin-top: 32px;
        text-decoration: none;

        @include mobile {
            margin: 0;
            margin-top: 40px;
        }

        &-text {
            margin-left: 20px;
            font-family: $georgia;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            color: $primary;
            letter-spacing: 0.08rem;
        }
    }

    &-img {
        margin-left: 155px;
        margin-top: -15px;

        @include tablet {
            width: 300px;
            margin: 0;
            margin-top: 68px;
        }

        @include mobile {
            width: 260px;
            margin-left: 2px;
            margin-top: 41px;
        }
    }
}