@import '../variables.scss';
@import '../mixins.scss';

.home {
    display: flex;
    justify-content: center;
    background-image: url('../../images/background.svg');
    background-size: cover;
    padding: 30px 40px 0 40px;
    box-sizing: border-box;

    @include tablet {
        padding: 30px 30px 0 30px;
    }

    @include mobile {
        padding: 30px 20px 0 20px;
    }

    &-wrapper {
        max-width: 1280px;
        width: 100%;
    }

    &-info {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        @include tablet {
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
        }

        &-title {
            color: $light-xl;
            font-family: $georgia;
            font-weight: 400;
            font-size: 44px;
            line-height: 57px;
            width: 310px;
            margin: 0;

            @include tablet {
                margin-top: 21px;
            }

            @include mobile {
                font-size: 25px;
                line-height: 33px;
                text-align: center;
                width: 230px;
                letter-spacing: 0.09rem;
            }
        }

        &-description {
            color: $dark-s;
            font-family: $arial;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            width: 460px;
            margin: 0;
            margin-top: 42px;

            @include mobile {
                width: 300px;
                margin-top: 40px;
                text-align: center;
            }
        }

        &-wrapper {
            display: flex;
        }

        &-text {
            margin-top: 195px;

            @include tablet {
                margin-top: 0;
            }

            @include mobile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &-button {
        background-color: $primary;
        padding: 15px 46px;
        border-radius: 100px;
        margin-top: 42px;
        border: none;
        font-family: $georgia;
        font-size: 17px;
        line-height: 22px;
        color: $dark-3xl;
        letter-spacing: 1.2px;
        transition: background-color .3s linear;
        cursor: pointer;
        text-decoration: none;
        font-weight: 400;

        &:hover {
            background-color: $primary-light;
            transition: background-color .3s linear;
        }

        @include tablet {
            margin-left: 126px;
        }

        @include mobile {
            margin-top: 43px;
            margin-left: 1px;
        }
    }

    &-img {
        width: 700px;
        margin-top: 28px;

        @include tablet {
            width: 570px;
            margin-top: 100px;
            margin-left: 140px;
        }

        @include mobile {
            width: 260px;
            margin: 0;
            margin-top: 105px;
            margin-left: 37px;
        }
    }
}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        justify-content: flex-start;
    }


    &-logo {

        &-wrapper {
            display: block;
            text-decoration: none;
        }

        &-title {
            font-family: $georgia;
            font-size: 32px;
            font-weight: 400;
            color: $primary;
            line-height: 35px;
            margin: 0;
            cursor: pointer;
            letter-spacing: 2px;

            @include mobile {
                margin-left: 8px;
            }
        }
    }

    &-text {
        display: block;
        font-family: $arial;
        font-weight: 400;
        font-size: 13px;
        color: $light-xl;
        line-height: 15px;
        letter-spacing: 1.5px;
        margin-top: 10px;

        @include mobile {
            margin-left: 12px;
        }
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
    }

    &-nav {
        @include mobile {
            display: none;
        }
    }

    &-burger {
        display: none;

        @include mobile {
            display: block;
            margin-left: 66px;
        }

        &-item {

            @include mobile {
                display: block;
                margin-top: 8px;
                width: 30px;
                height: 0.12em;
                background-color: $primary;
            }

        }
    }

    &-link {
        font-family: $arial;
        margin-left: 32px;
        color: $dark-s;
        line-height: 24px;
        font-size: 15px;
        text-decoration: none;
        height: 100px;
        cursor: pointer;
        transition: color .3s ease;

        &:active {
            border-bottom: 3px solid $primary;
            color: $light-s;
            cursor: auto;
        }

        &:first-child {
            border-bottom: 3px solid $primary;
            color: $light-s;
            cursor: auto;
        }

        &:hover {
            color: $light-s;
            transition: color .3s ease;
        }
    }
}