@import '../variables.scss';
@import '../mixins.scss';

.manual {
    padding: 80px 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet {
        padding: 80px 70px 100px 70px;
    }

    @include mobile {
        padding: 42px 15px;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1280px;
        width: 100%;
    }

    &-title {
        color: $dark-l;
        font-family: $georgia;
        line-height: 46px;
        font-size: 35px;
        font-weight: 400;
        margin: 0;
        width: 310px;
        text-align: center;
        letter-spacing: 1.9px;

        @include mobile {
            font-size: 25px;
            line-height: 33px;
            width: 260px;
            letter-spacing: 1.4px;
            margin-top: 5px;
        }
    }

    &-elements {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 57px;
        column-gap: 119px;
        margin-top: 60px;
        width: 100%;
        max-width: 1080px;



        @include tablet {
            row-gap: 55px;
            column-gap: 60px;
            max-width: 609px;
            width: 100%;
        }

        @include mobile {
            display: grid;
            grid-template-columns: repeat(2, 130px);
            align-items: start;
            width: 283px;
            margin-top: 40px;
            row-gap: 27px;
            column-gap: 28px;
        }
    }

    &-element {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-caption {
            margin: 0;
            margin-top: 30px;
            text-align: center;
            color: $dark-l;
            font-family: $georgia;
            font-weight: 400;
            line-height: 21px;
            font-size: 20px;
            letter-spacing: 1.2px;

            @include mobile {
                margin-top: 20px;
                font-size: 15px;
                line-height: px;
            }
        }
    }

    &-icon {
        width: 60px;
        height: 60px;

        @include mobile {
            width: 50px;
            height: 50px;
        }
    }
}