@import './normalize.scss';
@import './variables.scss';
@import './main/home.scss';
@import './main/about.scss';
@import './main/cards.scss';
@import './main/manual.scss';
@import './main/donation.scss';
@import './main/footer.scss';


body {
    display: flex;
    justify-content: center;
    margin: 0;

}

.wrapper {
    width: 100vw;
}



