@import './normalize.scss';
@import './variables.scss';
@import './pets/header.scss';
@import './pets/cards.scss';
@import './main/footer.scss';


body {
    display: flex;
    justify-content: center;
    // margin: 0;
    // box-sizing: border-box;
}

.wrapper {
    width: 1280px;
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 768px;
    }
}