@import './normalize.scss';
@import './variables.scss';
@import './main/modaleWindow.scss';
@import './main/home.scss';
@import './main/about.scss';
@import './main/cards.scss';
@import './main/manual.scss';
@import './main/donation.scss';
@import './main/footer.scss';

html {
    scroll-behavior: smooth;
}

.body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.body-inactive {
    overflow-y: hidden;
}

.wrapper {
    width: 100vw;
}