@font-face {
    font-family: "Arial";
    src: local('ArialBold'), url("../fonts/Arial/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Arial";
    src: local('ArialMedium'), url("../fonts/Arial/ArialMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Arial";
    src: local('ArialRegular'), url("../fonts/Arial/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Georgia";
    src: local('GeorgiaBold'), url("../fonts/Georgia/GeorgiaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Georgia";
    src: local('GeorgiaRegular'), url("../fonts/Georgia/GeorgiaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}