@import './normalize.scss';
@import './variables.scss';
@import './pets/header.scss';
@import './pets/cards.scss';
@import './main/footer.scss';
@import './main/modalWindow.scss';

html {
    scroll-behavior: smooth;
}

.body {
    display: flex;
    justify-content: center;
}

.body-inactive {
    overflow-y: hidden;
}

.wrapper {
    width: 100vw;
}