@import './normalize.scss';
@import './variables.scss';
@import './pets/header.scss';
@import './pets/cards.scss';
@import './main/footer.scss';

html {
    scroll-behavior: smooth;
}


body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100vw;
}