@import '../variables.scss';
@import '../mixins.scss';

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 40px;
    background-color: $light-xl;

    @include tablet {
        padding: 30px;
    }

    @include mobile {
        padding: 30px 20px;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        width: 100%;
    }

    &-logo {
        font-family: $georgia;
        font-size: 32px;
        font-weight: 400;
        color: $dark-l;
        line-height: 32px;
        margin: 0;
        cursor: pointer;
        letter-spacing: 2px;

        &-text {
            display: block;
            font-family: $arial;
            font-weight: 400;
            font-size: 13px;
            color: $dark-3xl;
            line-height: 15px;
            letter-spacing: 1.3px;
            margin-top: 12px;
            margin-left: 5px;
        }

        &-wrapper {
            text-decoration: none;
        }
    }

    &-nav {
        @include mobile {
            display: none;
        }
    }

    &-burger {
        display: none;
        transition: transform .5s ease;

        &-active {
            position: relative;
            z-index: 2;
            transform: rotate(90deg);
            transition: transform .5s ease;
        }

        @include mobile {
            display: block;
        }

        &-item {
            @include mobile {
                display: block;
                margin-top: 8px;
                width: 30px;
                height: 2px;
                background-color: $black;
            }
        }

        &-nav {
            display: flex;
            visibility: hidden;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: -320px;
            width: 320px;
            height: 100vh;
            background-color: $dark-3xl;
            transition: right .5s ease, visibility .5s ease;
            z-index: 1;

            &-active {
                visibility: visible;
                right: 0;
                transition: right .5s ease, visibility .5s ease;
            }

            &-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 17px;
            }
        }

        &-link {
            font-family: $arial;
            color: $dark-s;
            font-size: 32px;
            text-decoration: none;
            line-height: 38px;
            cursor: pointer;
            transition: color .3s ease;
            margin-top: 40px;

            &:not(:first-child) {
                margin-top: 54px;
            }

            &:active {
                border-bottom: 3px solid $primary;
                color: $light-s;
                cursor: auto;
            }

            &:first-child {
                border-bottom: 3px solid $primary;
                color: $light-s;
                cursor: auto;
            }

            &:hover {
                color: $light-s;
                transition: color .3s ease;
            }
        }
    }

    &-link {
        font-family: $arial;
        color: $dark-l;
        line-height: 24px;
        font-size: 15px;
        text-decoration: none;
        height: 100px;
        cursor: pointer;
        transition: color .3s ease;

        &:active {
            border-bottom: 3px solid $primary;
            color: $dark-3xl;
        }

        &:not(:first-child) {
            margin-left: 32px;
        }

        &:nth-child(2) {
            border-bottom: 3px solid $primary;
            color: $dark-3xl;
            cursor: auto;
        }

        &:hover {
            color: $dark-3xl;
            transition: color .3s ease;
        }
    }
}